@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-transform: capitalize;
}

body {
    font-family: "Varela Round", sans-serif;
}

li {
    list-style: none;
}

.background {
    position: relative;
}

.logo {
    font-size: 2em;
    font-weight: 600;
    flex: 1;
    color: #0dab42;
    display: flex;
    align-items: center;
}

.logo img {
    width: 50px;
    margin-right: 1%;
}

.navbar {
    width: 90%;
    margin: 1% auto;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 4%;
    z-index: 2;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0 5px 15px;
}

.navbar.scrolled {
    width: 100%;
    margin: 0;
    left: 0;
    border-radius: 0;
    box-shadow: rgba(0, 0, 0, 0.35) 0 5px 15px;
}

.nav_items {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.item {
    display: flex;
    justify-content: center;
}

.nav_items li {
    padding: 1em;
}

.nav_items li a {
    text-decoration: none;
    transition: 0.3s;
    font-size: 16px;
    font-weight: 600;
    color: #000;
    letter-spacing: 1px;
}

.nav_items li::after {
    content: '';
    width: 0;
    height: 2px;
    background-color: #0dab42;
    display: block;
    margin: auto;
    transition: 0.5s;
}

.nav_items li:hover::after {
    width: 100%;
}

.nav_items li:last-child::after {
    width: 0;
}

.btn {
    background-color: #0dab42;
    border: 2px solid #0dab42;
    color: #fff;
    transition: all 0.5s ease-in;
    cursor: pointer;
}

.btn:hover {
    background-color: #008080;
}

.nav_items .btn a {
    color: #fff;
}

.nav_menu {
    display: none;
}

.main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    align-items: center;
    width: 100%;
    margin: auto;
}

.right {
    display: flex;
}

.right img {
    max-width: 100%;
    height: auto;
}

.left {
    transform: translate(0%, 15%);
    margin-left: 4em;
}

.left h1 {
    font-size: 3.5em;
    line-height: 1.5;
}

.left h1 span {
    background-color: #0dab42;
    padding: 0 10px;
    color: #fff;
    display: inline-block;
    transform: skew(-15deg);
}

.para {
    color: #555;
    padding: 2% 0;
    line-height: 1.5;
}

.btn1 {
    padding: 12px 20px;
    font-size: 23px;
}

/* ______________find sec */

.row {
    width: 100%;
    text-align: center;
    background-color: #0dab42;
    padding: 2.3% 0;
}

.row_box input, .row_box select {
    width: 25%;
    margin: 0.5px;
    padding: 1.2em 1em 1.2em 1em;
    outline: none;
    text-align: left;
    font-size: 18px;
    color: #555;
    border-radius: 5px;
    border: none;
}

.btn2 {
    background-color: #022a45;
    font-size: 18px;
    padding: 1.2em 3em 1.2em 3em;
    border-radius: 5px;
    letter-spacing: 1px;
}

/* _____________services */

.sec {
    text-align: center;
    padding: 7em 0;
}

.head {
    margin: auto auto 4% auto;
}

.heading1 {
    color: #022a45;
    font-size: 3.5em;
}

.boxes {
    display: flex;
    justify-content: space-between;
    width: 95%;
    margin: auto;
    flex-wrap: wrap;
}

.box {
    padding: 2%;
    background-color: #EFFDF5;
    margin-bottom: 1rem;
    flex-basis: 23%;
    border-radius: 5px;
}

.main_box {
    background-color: #fff;
    border: 1px dashed #008080;
    border-radius: 5px;
    padding: 2em;
    cursor: pointer;
    transition: all 0.5s ease-in;
}

.main_box i {
    padding: 6%;
    border: 1px dashed #008080;
    border-radius: 50%;
    font-size: 3em;
    color: #0dab42;
}

.main_box h1 {
    margin-top: 1.3rem;
    font-size: 20px;
    color: #008080;
}

.main_box:hover {
    background-color: #0dab42;
}

.main_box:hover i {
    background-color: #fff;
}

.main_box:hover h1, .main_box:hover h2 {
    color: #fff;
}

/* __________________about */

.box_1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 3%;
    width: 90%;
    align-items: center;
    margin: auto;
}

.left_box {
    position: relative;
    padding: 4rem 0;
}

.left_box img {
    position: relative;
    z-index: 1;
    width: 100%;
}


.left_box::before {
    content: '';
    position: absolute;
    top: 0;
    left: -50%;
    width: 100%;
    height: 100%;
    background: #0dab42;
    transform: skew(20deg);
}

.right_box li {
    padding: 6px 0;
    list-style: none;
    display: flex;
    align-items: center;
}

.right_box li i {
    color: #0dab42;
    padding: 1px;
    font-size: 2.2rem;
    margin-right: 12px;
}

.right_box button {
    margin-top: 1rem;
}

/* __________________property list  */

.head_1 {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    width: 90%;
    margin: auto;
}

.left_head {
    text-align: left;
    width: 50%;
}

.right_head {
    text-align: right;
}

.right_head li {
    display: inline-flex;
    padding: 15px;
}

.list_boxes {
    width: 90%;
    margin: auto;
    padding: 3% 0;
}

.list_box {
    box-shadow: rgba(0, 0, 0, 0.35) 0 5px 15px;
    text-align: left;
    flex-basis: 32%;
    overflow: hidden;
    position: relative;
    margin: 2% 0;
    border-radius: 5px;
}

.list_box img {
    width: 100%;
    transform: scale(1);
    transition: .3s ease-in-out;
}

.list_box img:hover {
    transform: scale(1.1);
}

.list_text {
    padding: 15px;
}

.list_text h2 {
    color: #0dab42;
    padding-bottom: 12px;
}

.list_text i {
    color: #0dab42;
    margin-right: 7px;
}

/* _____________________contact */

.left_contact img {
    width: 100%;
    border-radius: 5px;
}

.row_1 {
    width: 90%;
    margin: auto;
}

.contact_box {
    background-color: #fff;
    border: 2px dashed #008080;
    width: 100%;
    border-radius: 5px;
    padding: 2%;
}

.contact_box button {
    padding: 15px;
    border-radius: 5px;
    font-size: 18px;
}

/* _________________contact_agents */

.box_2 {
    flex-basis: 23%;
    position: relative;
    background-color: #fff;
    overflow: hidden;
    box-shadow: rgba(0, 0, 0, 0.35) 0 5px 15px;
    border-radius: 5px;
}

.box_2 img {
    width: 100%;
}

.icons {
    position: absolute;
    transform: translate(-50%, -50%);
    display: flex;
    left: 50%;
}

.icons i {
    transition: all 0.5s ease-in;
    padding: 8px;
    border-radius: 50%;
    background-color: #fff;
    color: #0dab42;
    font-size: 26px;
    margin: 0 .25rem;
    box-shadow: rgba(0, 0, 0, 0.35) 0 5px 15px;
    cursor: pointer;
}

.icons i:hover {
    background-color: #0dab42;
    color: #fff;
}

.text {
    padding: 2.5em 0 2em 0;
}

.text h1 {
    font-size: 2.2em;
}

.text h4 {
    color: #555;
}

/* _____________ footer  */

footer {
    background-color: #022a45;
}

.footer {
    display: grid;
    gap: 4rem 2rem;
    border-bottom: 1px solid #777;
    text-align: left;
    width: 90%;
    grid-template-columns: repeat(4, 1fr);
    margin: auto;
}

.footer_coi h4 {
    margin-bottom: 2rem;
    font-size: 1.5rem;
    font-weight: 700;
    color: #fff;
    letter-spacing: 1px;
}

.footer_links {
    display: grid;
    gap: 1rem;
}

.footer_links li a {
    text-decoration: none;
    color: #ccc;
}

.footer_links li a:hover {
    color: #0dab42;
}

.footer_links i {
    font-size: 1.5em;
}

.footer_bar {
    padding-block: 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    flex-wrap: wrap;
}

.footer_bar h4 {
    font-size: 1.5rem;
    color: #fff;
}

.footer_bar p {
    font-weight: 500;
    color: #ccc;
}

.footer_socials {
    display: flex;
    align-items: center;
    gap: 1rem
}

.footer_socials li a {
    display: inline-block;
    padding: 8px 10px;
    font-size: 1rem;
    color: #0dab42;
    text-decoration: none;
    border-radius: 100%;
    background-color: #fff;
    transition: all 0.5s ease-in;
}

.footer_socials li a:hover {
    color: #fff;
    background-color: #0dab42;
}

/* _____________________responsive  */

@media only screen and (max-width: 1109px) {
    .left h1 {
        font-size: 2.5em;
    }

    .left {
        margin-left: 3em
    }

    .box {
        flex-basis: 24%;
    }

    .list_boxes {
        width: 95%;
    }
}

@media only screen and (max-width: 947px) {
    .navbar {
        width: 100%;
        left: 0;
        margin: 0%;
        border-radius: 0;
    }

    .nav_items {
        position: absolute;
        top: -1%;
        left: 0%;
        width: 100%;
        padding: 5em 0em 2em 0;
        display: flex;
        align-items: center;
        text-align: center;
        flex-direction: column;
        background-color: #fff;
        transition: 0.5s;
        z-index: -1;
        box-shadow: rgba(0, 0, 0, 0.35) 0 5px 15px;
        transform: translateY(-100%);
    }

    .item {
        flex-direction: column;
    }

    .nav_items.open {
        transform: translateY(0);
    }

    .nav_menu {
        display: block;
        font-size: 2em;
    }

    .main {
        grid-template-columns: 1fr;
        padding-top: 7em;
    }

    .left {
        transform: translate(0%, 0%);
    }

    .left h1 {
        font-size: 3.5em;
    }

    .row_box input, .row_box select {
        width: 24;
        font-size: 14px;
    }

    .btn2 {
        font-size: 14px;
    }

    .box, .list_box {
        flex-basis: 48%;
    }

    .box_1 {
        grid-template-columns: 1fr;
    }

    .head_1 {
        align-items: normal;
        flex-direction: column;
    }

    .left_head {
        width: 90%;
    }

    .contact_box {
        padding: 5%;
    }

    .box_2 {
        flex-basis: 32%;
        margin-bottom: 3%;
    }

    .footer {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media only screen and (max-width: 670px) {
    .row_box {
        display: flex;
        flex-direction: column;
        width: 85%;
        margin: 1% auto;
    }

    .row_box input, .row_box select {
        width: 100%;
        margin: 1% auto;
    }

    .box_2 {
        flex-basis: 48%;
    }

    .footer {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media only screen and (max-width: 475px) {
    .left {
        margin-left: 1em;
    }

    .left h1 {
        font-size: 2.5em;
    }

    .box, .list_box, .box_2 {
        flex-basis: 100%;
    }

    .box_1 {
        gap: 1%;
    }

    .footer {
        grid-template-columns: repeat(1, 1fr);
    }

    .footer_bar {
        text-align: center;
        justify-content: center;
    }
}

